body {

  
  margin: 0px 200px 200px 200px;
  
  
  
  
}


h1, p, footer {
  color: white;

  text-align: center;
}

p {
  font-size: 18px;
}

img {
  margin: 0px 200px 200px 200px;



  max-width: 300px;

  


}

